.bucketlist-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    background-image: url(../images/about-bkground.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.bucketlist-container h1 {
    color: var(--halfblack);
    margin-top: 50px;
    font-size: 2.5rem;
}

.quote {
    font-size: 1.4rem;
}

.quote-color {
    color: var(--tangerine);
    font-size: 1.5rem;
}

button[type='submit'] {
    margin-top: 50px;
    background-color: var(--tangerine);
    color: var(--white);
    border: none;
    padding: 10px 25px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}

button[type='submit']:hover {
    background-color: var(--halfblack);
    transition: all 0.3s ease 0s;
}
 
 .greeting {
    padding-top: 50px;
    margin-bottom: -40px;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--halfblack);
 }

 .idea-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    width: 350px;
    height: 350px;
 }

 .word-idea {
    margin-top: 40px;
    color: var(--halfblack);
    font-size: 1.2rem;
 }

 .generator-container {
    border: 2px solid var(--black);
    height: 750px;
 }

 .bucket {
    margin-top: -10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
 }

 .refresh-btn {
    cursor: pointer;
    width: 80px;
 }

 .loading-icon {
    width: 50px;
 }