.about-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.about-container h1 {
    color: var(--tangerine);
    margin-top: 50px;
    font-size: 2.5rem;
}

.about-container strong {
    color: var(--halfblack);
    margin-top: -30px;
}

.about-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.photo-grid {
    margin-top: -250px;
    width: 100%;
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.group1 {
    margin-top: 65px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: span 2;
}

.group1 img {
    width: 360px;
}

.group2 img {
    width: 500px;
}


.group3 img {
    width: 500px;
}


.group4 img {
    width: 500px;
}

.group5 img {
    width: 500px;
}

.about-bottom {
    background-color: var(--halfblack);
}

.about-bottom h2 {
    font-size: 2.5rem;
    color: var(--white);
    padding-top: 50px;
    margin-bottom: 90px;
}

.partners-logo {
    width: 80%;
}