/* Bucket List Section */
.bucketlist-container {
  position: relative;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--white);
    background-image: url(../images/about-bkground.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-top: 30px;
}

.happytraveler {
  position: absolute;
  top: 50px;
  right: 35px;
  margin-top: 0px;
  width: 450px;
  margin-left: -590px;
 }
 
.bucketlist-container h1 {
    color: var(--halfblack);
    margin-top: 50px;
    font-size: 2.5rem;
}

.quote {
    font-size: 1.4rem;
}

.quote-color {
    color: var(--tangerine);
    font-size: 1.5rem;
}

button[type='submit'] {
    margin-top: 50px;
    background-color: var(--tangerine);
    color: var(--white);
    border: none;
    padding: 10px 25px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}

button[type='submit']:hover {
    background-color: var(--halfblack);
    transition: all 0.3s ease 0s;
}
 
 .greeting {
    padding-top: 50px;
    margin-bottom: -40px;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--halfblack);
 }

 .idea-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    width: 350px;
    height: 350px;
 }

 .word-idea {
    margin-top: 40px;
    color: var(--halfblack);
    font-size: 1.2rem;
 }

 .bucket {
    margin-top: -10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
 }

 .refresh-btn {
    cursor: pointer;
    width: 80px;
 }

 .loading-icon {
    width: 50px;
 }

 /*------------------ Review Section -------------------*/

 .reviews-container {
   background-color: var(--halfblack);
   height: 100vh;
 }

 .reviews-container h1{
   color: var(--white);
 }
 .reviews-container h2 {
   font-size: 2.2rem;
   color: var(--halfblack);
 }

 .card {
   margin-top: 70px;
   color: var(--white);
   padding: 30px 20px 20px 30px;
   padding-left: 30px;
   margin-right: auto;
   margin-left: auto;
   width: 750px;
   height: 450px;
   background-color: var(--deeporange);
 }

 .quote {
   font-style: italic;
 }

 .scrolldown-arrow {
   margin-top: 40px;
   width: 40px;
 }

 .awards {
   background-image: url(../images/about-bkground-flipped.jpg);
   background-size: cover;
   display: flex;
   flex-direction: column;
 }

 .grid-awards {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 250px;
   grid-gap: 30px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 130px;
 }

.card-award {
   margin-top: 20px;
   margin-bottom: -30px;
   padding-top: 35px;
   background-color: var(--halfblack);
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}

.best {
  width: 230px;
}
.fordes {
  margin-top: 28px;
}
.newyork {
  margin-top: 24px;
}

.premium {
  margin-top: 10px;
  width: 170px;
}

.card-award p {
  color: var(--white);
}

.customer-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
