
/* Fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300&family=Squada+One&display=swap');

/* Style for navbar, body and footer */
:root {
  --halfblack: #363636;
  --black: #000000;
  --white: #ffffff;
  --tangerine: #f48c06;
  --silver: #D6D9E2;
  --mustard: #f3e1a2;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
}

.App {
  background-image: url(./images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  text-align: center;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.nav {
  font-family: 'Squada One', cursive;
  letter-spacing: 2px;
  display: flex;
  justify-content:flex-end;
}

.logo {
  width: 6%;
  height: auto;
  margin-left: 100px;
  margin-top: 15px;
  display: flex;
  margin-bottom: -30px;
}


.nav a {
  text-decoration: none;
  position: relative;
  padding: 0px 5px;
  font-weight: bold;
  color: var(--black);
  font-size: 1.5rem;
  margin-right: 50px;
}

/* Underline hover */
.nav a::after {
  content: '';
  /* line width starts from zero and */
  width: 0;
  height: 5px;
  position: absolute;
  /* place line underneath nav links */
  bottom: -3px;
  left: 50%;
  /* position line center */
  transform: translateX(-50%);
  background-color:var(--tangerine);
  transition: 0.3s;
}

.nav a:hover::after {
  /* Line length */
  width: 50%;
}

.support {
  margin-top: -8px;
  width: 34px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: var(--white);
  text-align: center;
  padding: 9px 0px 5px 0px;
  margin-bottom: -15px;
}










